body{
    background-image: url(../pictures/backgroun.jpg);
    background-color: ccccc;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.road{
    height: 130px;
    width: 3000px;
    position: fixed;
    bottom: 0px;
    left: -70px;
    transform: skewX(-45deg);
    z-index: 1;
    animation-name: myroad;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.car{
    width: 450px;
    position: fixed;
    bottom: 20px;
    left: 130px;
    z-index: 1;
    animation-name: mycar;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    
}
.lamp{
    position: fixed;
    top: 460px;
    left: 1500px;
    animation-name: mylamp;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.lamp1{
    position: fixed;
    top: 460px;
    left: 1500px;
    animation-name: mylamp1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.tree{
    width: 300px;
    position: fixed;
    top: 360px;
    left: 300px;
    animation-name: mytree;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.tree1{
    width: 250px;
    position: fixed;
    top: 431px;
    left: 600px;
    animation-name: mytree1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes mycar{
    from{bottom:20px;}
    to{bottom:32px;}
}
@keyframes mylamp{
    from{top: 460px; left: 2300px;}
    to{top: 460px; left: -1800px;}
}
@keyframes mylamp1{
    from{top: 460px; left: 3700px;}
    to{top: 460px; left: -400px;}
}
@keyframes mytree{
    from{top: 360px; left: 1600px;}
    to{top: 360px; left: -2500px;}
}
@keyframes mytree1{
    from{top: 431px; left: 3000px;}
    to{top: 431px; left: -1100px;}
}
@keyframes myroad{
    from{bottom: 0px; left: -70px;}
    to{bottom: 0px; left: -1290px;}
}